body {
    font-family: Arial;
    background:#111;
    color:#eee;
}
.card {
    background:#1e1e1e;
    padding:10px;
    margin:10px;
    border-radius:8px;
}
button {
    margin:5px;
    padding:8px;
}
a { color:#0af }
